<html>
  <head>

  </head>
  <body>

    <% if user_signed_in? %>
    <div class="index-space"></div>
      <% @links.each do |link| %>
        <div class="boxes">
          <div class="link-title-con"><span class="link-title"><%= link_to link.title, link, class: "link-title btn-link-black" %></span></div>
          <br>
          <br>
          <div class="link-descrip-con lighter"><span class="link-descrip"><%= link.description %></span></div>
          <br>
          <br>
          <span><%= link_to "View Link", link, class: "link-under" %>
        </div>

        <div class="index-lines"></div>

      <% end %>

    <% else %>
      <% @links.each do |link| %>
      <div class="index-space"></div>
        <% @links.each do |link| %>
          <div class="boxes">
            <div class="link-title-con"><span class="link-title"><%= link_to link.title, link, class: "link-title btn-link-black" %></span></div>
            <br>
            <br>
            <div class="link-descrip-con"><span class="link-descrip"><%= link.description %></span></div>
            <br>
            <br>
            <span><%= link_to "View Link", "/pages/oops", class: "link-under" %>
          </div>

          <div class="index-lines"></div>
        <% end %>
    <% end %>
    <% end %>

  </body>
</html>
