<html>
  <head>

  </head>
  <body>
    <% if user_signed_in? %>
      <% @links.each do |link| %>
        <div class="boxes">
          <span class="link-title"><%= link_to link.title, link, class: "link-title" %></span>
          <br>
          <br>
          <span><%= link.description %></span>
          <br>
          <br>
          <span><%= link_to "View Link", link, class: "btn-link" %></span>
        </div>

        <div class="index-lines"></div>

      <% end %>

    <% else %>
      <% @links.each do |link| %>
      <div class="boxes">
        <span class="link-title"><%= link_to link.title, link, class: "link-title" %></span>
        <span><%= link.description %></span>
        <span><%= link_to "View Link", link, class: "btn-link" %></span>
      </div>

      <div class="index-lines"></div>
    <% end %>
    <% end %>

  </body>
</html>
