<html>
  <head>

  </head>
  <body>
    <% if user_signed_in? %>
    <div class="space"></div>
      <% @links.each do |link| %>
        <div class="col-lg-12 boxes">
          <p class="link-title"><%= link_to link.title, link, class: "link-title" %></p>
          <p><%= link.description %></p>
          <p><%= truncate(link.url, :length => 50, :omission => "...") %></p>
          <p><%= link_to "View Link", link, class: "btn-link" %></p>
        </div>
        <br>
        <br>
      <% end %>

    <% else %>
    <div class="space"></div>
      <% @links.each do |link| %>
        <div class="col-lg-12 boxes">
          <p class="link-title"><%= link_to link.title, link, class: "link-title" %></p>
          <p><%= link.description %></p>
          <p><%= truncate(link.url, :length => 50, :omission => "...") %></p>
          <p><%= link_to "View Link", link, class: "btn-link" %></p>
        </div>
        <br>
        <br>
    <% end %>
    <% end %>

  </body>
</html>
