<html>
  <head>
    <link rel="stylesheet" href="custom.css.scss">
  </head>
  <body>

  <a href="/links" class="btn-link">Back</a>
  <div class="link-whole">

    <div class="image-title-con">
      <span class="show-title"><%= @link.title %></span>
    </div>

    <div class="show-body">

      <div class="show-image">
        
      </div>

      <br>

      <div class="show-text">
        <span class="show-description"><%= @link.description %></span>
      </div>

      <br>
      <br>

    <br>
    <span class="url"><%= link_to "View Product On Amazon", @link.url, class: "btn-link", target: "_blank" %></span>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
      <span class="blue"> | </span><%= link_to "Update Link", edit_link_path(@link), class: "btn-link" %><span class="blue"> | </span><%= link_to "Delete Link", link_path(@link), method: :delete, data: {confirm: "You sure bud?" }, class: "btn-link" %>
    <% else %>

    <% end %>

    <%= form_for :campaign, url: campaigns_path do |f| %>
      <%= f.text_field :name, value: current_user.email %>
      <br>
      <%= f.text_field :product, value: @link.product %>
      <br>
      <%= f.text_field :website, value: current_user.website %>
      <br>
      <%= f.text_field :productlink, value: @link.url %>
      <br>
      <%= f.text_area :description, value: @link.description %>
      <br>
      <%= f.text_field :date, value: Date.today.to_s %>
      <br>
      <%= f.submit :"Let's Go Make Some Money", class: "btn-lg btn-primary" %>
    <% end %>

  </div>


  </body>
</html>
