<!DOCTYPE html>
<html>
<head>
  <title>Blog Force</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="application.js"></script>
</head>
<body>
<nav class="nav">
  <div class="dropdown">
    <div class="sandwhich">
      <div href="#" class="dropdown-toggle sandwich-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="first-line line"></div>
      <div class="second-line line"></div>
      <div class="third-line line"></div>
      </div>

      <ul class="dropdown-menu" id="dropdown-body">
        <li><a href="/links">Home</a></li>
        <li><a href="/pages/how">About</a></li>
        <li><a href="/pages/contact">Contact Us</a></li>
        <li role="separator" class="divider"></li>
        <% if user_signed_in? %>
        <li class="visible-xs"><a href="/pages/me"><%= current_user.email %></a></li>
        <li class="visible-xs"><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "btn-link" %></li>
        <% else %>
        <li class="visible-xs"><a href="/users/sign_in">Sign In</a></li>
        <li class="visible-xs"><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
        <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
        <li role="separator" class="divider"></li>
        <li><a href="/links/new">New Link</a></li>
        <% end %>
      </ul>

    </div>
  </div>
  <div class="links-right hidden-xs">
    <% if user_signed_in? %>
    <a href="/pages/me" class="btn-link right"><%= current_user.email %></a><span>/</span><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "btn-link right" %>
    <% else %>
    <a href="/users/sign_in" class="btn-link right">Sign In</a><span>/</span><a href="/users/sign_up" class="btn-link right">Sign Up</a>
    <% end %>
  </div>

  <div class="brand-con">
    <div class="brand"><span class="brand-text">blog<span class="force"><sup>force</sup></span></span></div>
  </div>
</nav>

  <div class="container">
    <div class="space">
    <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="first alert alert-<%= name.to_s == "notice" ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
    <% end %>

    </div>
    <%= yield %>
  </div>
</body>
</html>
